
<div class="container">
  <%@articles.each do |article| %>
    <div class="row mt-2">
      <div class="col-8">
        <div class="article">
          <h2>
            <%=link_to article.title, article_path(article) %>
          </h2>
          <p>
            <%= article.content.byteslice(0, 100)%>...
          </p>
        </div>
      </div>
    </div>
  <%end %>
</div>
